body,
html {
  height: 100%;
  margin: 0;
  
  /* add fonts family @vanshul */
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #eb5814;
}

.big1 {
  background-image: url("robotics/images/big.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  /* editing this line will kill parallax */
}

.about {
  text-align: center;
  padding: 50px 50px 50px 20px;
}
.info>h3{
  text-align: center;
}
#navbar{
  background-color: black;
  height: 10%;
  width: 100%;

}
#footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;

}

@media(max-width:568px) {
  .big1 {
    background-attachment: scroll;
  }
}
