 body{
      margin: 0;
    padding: 0;
    font-size: 40px;
    background-color:paleturquoise;
}

#navbar{
    display:flex ;
    align-items: center;
}
#logo {
    margin: 35px 40px;
}
#navbar img{ 
    height: 100px;
    margin: 8px 40px;
    border-radius: 125px;
}
#navbar ul {
    display: flex;
}
#navbar ul li{
    list-style: none;
    color: black;

}
#navbar ul li a{ 
    display: block;
    padding:2px 45px;
    border-radius: 30px;
    text-decoration:none ;
    
}
#navbar  ul li a:hover{
    color: darkblue;
    background-color: white;
}
#footer{
    align-items: center;
    justify-content: center;
 }

 #footer ul{
     display: flex;
 }
#footer ul li{
    list-style:none;
}
#footer ul li a{
    display: block;
    padding: 5px 20px;
    border:2px solid black ;
    border-radius: 16px;
}
#footer ul li a:hover{
    color:white;
    background-color: blue;
}


